.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}


/*PICKER*/
/* 1.- Location picker*/
.sc-dPyBCJ {
    border: 0px !important;
    padding-left: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    height: 30px !important;
    width: 90px !important;
    font-size: 14px !important;
}

/*Erase the arrow */
.sc-cOFTSb {
    display: none !important;
}

/* Location box */
.sc-kgUAyh{
    width: 25rem !important;
}


.sc- {
    margin-right: -5px !important;
}



/*1.- End of Location Picker*/

/*2.- Dates */
.sc-jIZahH {
    outline: 0px !important;
    padding-left: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    height:26px !important;
    font-size:14px !important;
}

